header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #293f50;
}

header h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 100;
}

header h1:hover {
    color: #648880;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    font-weight: 100;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1em;
    color: #ffffff;
    margin-top: 60px;
    font-weight: bold;
}

header a:hover {
    color: #648880;
}

header section {
    display: flex;
    flex-direction: column;
}

.date {
    text-align: end;
    font-size: 21px;
    color: #648880;
    position: relative;
    font-weight: 400;
    top: 40px;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #293f50;
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 50px;
    height: 150px;
    padding-bottom: 150px;
}

.registration h2 {
    font-size: 36px;
    color: #648880;
    font-weight: 400;
}

.registration p {
    font-size: 24px;
    color: #ffffff;
    font-weight: 100;
    text-align: center;
    line-height: 44px;
}

.registration button {
    font-size: 16px;
    background-color: #293f50;
    color: #ffffff;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.registration button:hover {
    color: #648880;
    background-color: #ffffff;
}

.cards {
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 50px;
    gap: 30px;
}

.cards article{
    flex: 1;
}

.cards img {
    max-width: 100%;
    border-radius: 5px;
}

.cards h3 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
}

.cards h4 {
    color: #a9b2b9;
    font-size: 21px;
    font-weight: 400;
}

.cards p {
    color: #888888;
    font-size: 16px;
    font-weight: 400;
}

footer {
    background-color: #293f50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    margin-top: 50px;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

footer div {
    color: #648880;
    font-weight: 400;
}

.registration-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #a3d3b1, #f4f0d3);
    height: 200px;
}

.registration-info h2 {
    font-size: 35px;
    color: #648880;
    font-weight: 400;
    text-align: center;
    margin-top: 90px;
}

.registration-info p {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 100px;
    margin-top: 0;
    color: #888888;
    font-weight: 400;
}

.registration-footer {
    margin-top: 0;
}

.form {
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
}

.form article {
    flex: 1;
    max-width: 66%;
}

.form form {
    flex: 1;
    max-width: 33%;
    padding-top: 30px;
}

.form h2 {
    font-size: 24px;
    color: #648880;
    font-weight: 400;
}

.form h3 {
    font-size: 14px;
    color: #a9b2b9;
    font-weight: 400;
}

.form p {
    font-size: 16px;
    color: #888888;
    font-weight: 400;
    padding-right: 40px;
}

.form li {
    font-size: 16px;
    color: #888888;
    font-weight: 400;
    list-style-type: square;
}

.name {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #648880;
    font-size: 16px;
    font-weight: 400;
}

.name input {
    width: 250px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding: 5px 8px;
    border-width: 1px;
    color: #888888;
}

.email {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.email input {
    width: 250px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding: 5px 8px;
    border-width: 1px;
    color: #888888;
}

.num-of-pass {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.num-of-pass select {
    width: 60px;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    padding: 5px 8px;
    border-width: 1px;
    color: #888888;
}

input:focus, select:focus {
    border-width: 3px;
}
